# Python Fundamentals - Week 2

### Tuples

In [203]:
# Creating a set with unordered elements
my_set = {3, 1, 2, 4, 2}

# Displaying the set
my_set

{1, 2, 3, 4}

In [1]:
# Define a new tuple
tuple_1 = ("Max", 28, "New York")
print(tuple_1)

('Max', 28, 'New York')

In [2]:
# Parentheses are optional
tuple_2 = "Linda", 25, "Miami"
print(tuple_2)

('Linda', 25, 'Miami')

In [3]:
# Tuples are immutable (ERROR)
tuple_1[2] = "Boston"

TypeError: 'tuple' object does not support item assignment

In [215]:
# List all the names
new_tuple = (["Alice", 25, "New York"], ["Max", 28, "New York"])

[item[0] for item in new_tuple]

['Alice', 'Max']

In [7]:
# Tuple unpacking
person = ("Alice", 25, "New York")
name, age, city = person
print(name)
print(age)
print(city)
print(type(person))

Alice
25
New York
<class 'tuple'>

In [5]:
# Example: int
my_tuple = (5)

In [6]:
print(my_tuple)
print(type(my_tuple))

5
<class 'int'>

In [9]:
# Example: tuple
tuple_3 = (25, 2)

print(tuple_3)
print(type(my_tuple))

(25, 2)
<class 'int'>

In [10]:
# Iterate through a tuple
tuple_1 = ("Max", 28, "New York")

In [11]:
for item in tuple_1:
    print(item)

Max
28
New York

In [12]:
for i in range(len(tuple_1)):
    print(i, tuple_1[i])

0 Max
1 28
2 New York

In [13]:
for idx, val in enumerate(tuple_1):
    print(idx, val)

0 Max
1 28
2 New York

In [14]:
# Search a tuple
if "New York" in tuple_1:
    print(True)
else:
    print(False)

True

In [15]:
if "Chicago" in tuple_1:
    print(True)
else:
    print(False)

False

In [17]:
# Some tuples properties
my_tuple = ('a','p','p','l','e')

In [18]:
# len() : get the number of elements in a tuple
print(len(my_tuple))

5

In [19]:
# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p'))

2

In [20]:
# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))

3

In [21]:
# repetition (such as lists and strings)
print(('a','p','p','l','e') * 2)

('a', 'p', 'p', 'l', 'e', 'a', 'p', 'p', 'l', 'e')

In [22]:
# Convert an iterable (list, dict, string) with the built-in tuple function
tuple_4 = tuple([1, 2, 3])
print(tuple_4)

(1, 2, 3)

In [23]:
# Convert list to a tuple
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)

('a', 'b', 'c', 'd')

In [24]:
# convert string to tuple
str_to_tuple = tuple('Hello')
print(str_to_tuple)

('H', 'e', 'l', 'l', 'o')

In [25]:
# Convert tuple to list
my_tuple = ('a', 'b', 'c', 'd')
tuple_to_str = list(my_tuple)
print(tuple_to_str)

['a', 'b', 'c', 'd']

In [26]:
my_list = [0, 1, 2, 5, 10]
my_tuple = (0, 1, 2, 5, 10)

In [27]:
# compare the size
import sys

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

96 bytes
80 bytes

In [30]:
# Using a tuple to return multiple values
def divide(a, b):
    quotient = a // b
    remainder = a % b
#     return (quotient, remainder)
    return quotient, remainder

In [31]:
# result = divide(10, 3) # 10 = 3 x 3 + 1
quo, rem = divide(10, 3)
# print(result)
print(quo, rem)

3 1

### Sets

In [32]:
# Define a new set
set1 = {1, 5, 10, 4, 6, 9, 19}
print(set1)

{1, 4, 5, 6, 9, 10, 19}

In [33]:
print(len(set1))

7

In [34]:
print(max(set1))

19

In [207]:
# The sorted behavior is due to small values of integers which is not necessarily the case

# Check this out:
new_set = {1, 3, 4, 2, 0, -4, 6, 10, 7, 8, "a", "b", 1000}
print(new_set)

{0, 1, 2, 3, 4, 6, 7, 8, 'b', 10, 1000, 'a', -4}

In [40]:
# Define an empty set
empty_set = set()
print(empty_set)

set()

In [37]:
# Define a new set
set1 = {1, 5, 10, 4, 6, 9, 19}

set1[2]

TypeError: 'set' object is not subscriptable

In [38]:
# Sets remove duplicate elements
numbers = {2, 4, 6, 6, 2, 8}
print(numbers)

{8, 2, 4, 6}

In [41]:
# Set built-in functions

fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [42]:
# Adding an element
fruits.add("orange")
print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [43]:
# Removing an element
fruits.remove("cherry")
print(fruits)

{'apple', 'orange', 'banana'}

In [44]:
# Removed element has to be in the set (ERROR)
fruits.remove("watermelon")

KeyError: 'watermelon'

In [45]:
more_fruits = {"orange", "strawberry", "kiwi"}

In [46]:
# Union
all_fruits = fruits.union(more_fruits)
print(all_fruits)

{'orange', 'banana', 'kiwi', 'apple', 'strawberry'}

In [47]:
# Intersection
common_fruits = fruits.intersection(more_fruits)
print(common_fruits)

{'orange'}

In [48]:
# Difference
different_fruits = all_fruits.difference(common_fruits)
print(different_fruits)

{'apple', 'strawberry', 'kiwi', 'banana'}

In [49]:
# Update
fruits = {"apple", "banana", "orange"}
more_fruits = {"orange", "strawberry", "kiwi"}
fruits.update(more_fruits)
print(fruits)

{'orange', 'banana', 'kiwi', 'apple', 'strawberry'}

In [50]:
# discard(x): removes x, does nothing if element is not present
fruits.discard("banana")
print(fruits)

{'orange', 'kiwi', 'apple', 'strawberry'}

In [51]:
fruits.discard("blueberry")
print(fruits)

{'orange', 'kiwi', 'apple', 'strawberry'}

In [52]:
# Nonexistent element (ERROR)
fruits.remove("blueberry")

KeyError: 'blueberry'

In [53]:
# clear() : remove all elements
fruits.clear()
print(fruits)

set()

In [54]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}

In [55]:
# issubset(setX): Returns True if setX contains the set
print(setA.issubset(setB))
print(setB.issubset(setA))

False
True

In [56]:
# issuperset(setX): Returns True if the set contains setX
print(setA.issuperset(setB))
print(setB.issuperset(setA))

True
False

In [57]:
# isdisjoint(setX) : Return True if both sets have a null intersection, i.e. no same elements
setC = {7, 8, 9}
print(setA.isdisjoint(setB))
print(setA.isdisjoint(setC))

False
True

### LeetCode 217

In [58]:
# Solution 1
def containsDuplicate(nums):
    checker = set()
    for num in nums:
        if num in checker:
            return True
        else:
            checker.add(num)
    return False

In [60]:
# Solution 2
def containsDuplicate(nums):
    return len(nums) != len(set(nums))

In [61]:
# Test Case 1
nums = [1, 2, 3, 1]
print(containsDuplicate(nums))

# Test Case 2
nums = [1, 2, 3, 4]
print(containsDuplicate(nums))

# Test Case 3
nums = [1, 1, 1, 3, 3, 4, 3, 2, 4, 2]
print(containsDuplicate(nums))

True
False
True

### LeetCode 349

In [72]:
# Solution 1
def intersection(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)
    intersection_set = set1.intersection(set2)
    return list(intersection_set)

In [74]:
# Solution 2
def intersection(nums1, nums2):
    return list(set(nums1).intersection(set(nums2)))

In [75]:
# Test Case 1
nums1 = [1, 2, 2, 1]
nums2 = [2, 2]
print(intersection(nums1, nums2))

# Test Case 2
nums1 = [4, 9, 5]
nums2 = [9, 4, 9, 8, 4]
print(intersection(nums1, nums2))

[2]
[9, 4]

### Dictionaries

In [80]:
# Define a new dictionary
capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [81]:
# Retrieve value for a given key
print(capital_city["Nepal"])

Kathmandu

In [82]:
# Store a new key-value pair
capital_city["Japan"] = "Tokyo"
print("Updated Dictionary: ", capital_city)

Updated Dictionary:  {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}

In [83]:
# Another example
person = {"name":"Alice", "age":25, "city":"New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [84]:
# Dictionary methods
keys = person.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [85]:
values = person.values()
print(values)

dict_values(['Alice', 25, 'New York'])

In [86]:
items = person.items()
print(items)

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [87]:
# Removing values
print(person.pop('age'))
print(person)

25
{'name': 'Alice', 'city': 'New York'}

In [88]:
# Delete keys
del person['city']
print(person)

{'name': 'Alice'}

In [89]:
person[1]

KeyError: 1

In [90]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [93]:
print(1 in squares)
print(2 not in squares)
print(49 in squares)
print(49 in squares.values())

True
True
False
True

In [94]:
# Iterating through a Dictionary
for key in squares:
    print(key, squares[key])

1 1
3 9
5 25
7 49
9 81

In [95]:
for key in squares.keys():
    print(key)

1
3
5
7
9

In [96]:
for value in squares.values():
    print(value)

1
9
25
49
81

In [97]:
for item in squares.items():
    print(item)

(1, 1)
(3, 9)
(5, 25)
(7, 49)
(9, 81)

In [99]:
# Use numbers as key, but be careful
my_dict = {3: 9, 6: 36, 9: 81}

In [100]:
# Retrieve key
print(my_dict[3])

9

In [101]:
# Retrive index (ERROR)
print(my_dict[2])

KeyError: 2

In [102]:
# use a tuple with immutable elements (e.g. number, string)
my_tuple = (8, 7)
my_dict[my_tuple] = 15
print(my_dict)

{3: 9, 6: 36, 9: 81, (8, 7): 15}

In [103]:
# list is not immutable (ERROR)
my_list = [8, 7]
my_dict = {my_list: 15}

TypeError: unhashable type: 'list'

In [104]:
# Using a dictionary to count occurrences of elements
numbers = [1, 2, 3, 2, 1, 1, 4, 5, 6, 5, 5]

In [105]:
counts = {}

for num in numbers:
    if num in counts:
        counts[num] += 1
    else:
        counts[num] = 1

print(counts)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 3, 6: 1}

#### JSON Format

In [ ]:
# Example of reading json as a dict()
# import json

# with open('data.json', 'r') as json_file:
#     data = json.load(json_file)

# print(data)

### LeetCode 1

In [106]:
# Solution 1
def twoSum(nums, target):
    dict1 = {}
    for i in range(len(nums)):
        dict1[nums[i]] = i
    for i in range(len(nums)):
        complement = target - nums[i]
        if (complement in dict1) and (dict1[complement]) != i:
            return [i, dict1[complement]]

In [216]:
# Solution 2
def twoSum(nums, target):
    dict1 = {}
    for i in range(len(nums)):
        complement = target - nums[i]
        if complement in dict1:
            return [i, dict1[complement]]
        dict1[nums[i]] = i

In [217]:
# Test Case 1
nums = [2, 7, 11, 15]
target = 9
print(twoSum(nums, target))

# Test Case 2
nums = [3, 2, 4]
target = 6
print(twoSum(nums, target))

# Test Case 3
nums = [3, 3]
target = 6
print(twoSum(nums, target))

[1, 0]
[2, 1]
[1, 0]

### LeetCode 169

In [218]:
def majorityElement(nums):

    freq = dict()
    
    for elem in nums:
        if elem in freq:
            freq[elem] += 1
        else:
            freq[elem] = 1

    for key in freq.keys():
        if freq[key] > (len(nums) / 2):
            return key
        
    return -1

In [219]:
# Test Case 1
nums = [3, 2, 3]
print(majorityElement(nums))

# Test Case 2
nums = [2, 2, 1, 1, 1, 2, 2]
print(majorityElement(nums))

3
2

### Modules

#### Built-in Modules

In [113]:
import math

In [114]:
print(math.sqrt(16))

4.0

In [115]:
print(math.factorial(4))

24

In [116]:
print(math.sin(math.pi))

1.2246467991473532e-16

In [117]:
print(math.ceil(2.3))

3

In [118]:
from math import sqrt

In [119]:
print(sqrt(16))

4.0

In [120]:
import random

In [129]:
print(random.randint(1, 10))

5

#### User-Defined Modules

In [130]:
import math_calculator as mc

In [131]:
mc.pi

3.14

In [133]:
mc.person1['name']

'John'

In [136]:
mc.find_sqaure(10)

100

In [137]:
from math_calculator import find_square_root

In [138]:
find_square_root(49)

7.0

### Lambda Function, map(), filter()

#### Lambda Function

In [139]:
# Normal functions
def add_1(a, b):
    return a + b

In [140]:
added_val_1 = add_1(5, 10)
print(added_val_1)

15

In [141]:
# Lambda function
add_2 = lambda a, b: a + b

In [142]:
added_val_2 = add_2(5, 10)
print(added_val_2)

15

In [143]:
# Compare results
print(type(add_1))
print(type(add_2))

<class 'function'>
<class 'function'>

In [144]:
# Another example
def greet1():
    print("Hello World")

In [145]:
greet2 = lambda : print("Hello World")

In [146]:
greet3 = lambda name: print("Hello " + name)

In [148]:
greet1()
greet2()
greet3("New World")

Hello World
Hello World
Hello New World

In [150]:
# What is the output?

# Anohter example
print((lambda x: x + x)(2)) # 4

# Anohter example
func = lambda a, b: (
    b - a if a <= b else a * b
)

print(func(10, 2)) # 20
print(func(2, 10)) # 8

4
20
8

#### map()

In [151]:
# Example - with normal Python function
numbers = [2, 4, 8, 6, 8, 10]

In [153]:
def square(number):
    return number * number

In [154]:
numbersSquare_list = list(map(square, numbers))
numbersSquare_set = set(map(square, numbers))

In [155]:
print(numbersSquare_list)
print(numbersSquare_set)

[4, 16, 64, 36, 64, 100]
{64, 100, 4, 36, 16}

In [156]:
# Combined with Lambda function
numbers = (1, 2, 3, 4)
numbersSquare = list(map(lambda x: x * x, numbers))
print(numbersSquare)

[1, 4, 9, 16]

In [157]:
# Iterating through functions
def square(x):
    return (x * x)

def double(x):
    return (x + x)

# list of functions
funcs = [square, double]

value = list(map(lambda x: x(10), funcs))

print(value)

[100, 20]

In [158]:
# Write a code to square all numbers
# numbers = [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

squared = map(lambda x: x ** 2, numbers)

squared_list = list(squared)

print(squared_list)

[1, 4, 9, 16, 25]

In [159]:
# Write a code to double all numbers
# numbers = [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

doubled = map(lambda x: x * 2, numbers)

doubled_list = list(doubled)

print(doubled_list)

[2, 4, 6, 8, 10]

#### filter()

In [160]:
# Example
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

In [161]:
def is_A_student(score):
    return score > 75

In [162]:
filtered_scores = filter(is_A_student, scores)

In [163]:
over_75 = list(filtered_scores)

In [164]:
print(over_75)

[90, 76, 88, 81]

In [165]:
print(filtered_scores)

<filter object at 0x00000232829274C0>

In [167]:
# What is the output?
# Write the same code with lambda function

# Another example
def less_zero(x):
    return x < 0

number_list = list(range(-5, 5))
less_than_zero = list(filter(less_zero, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [168]:
number_list = list(range(-5, 5))
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [170]:
# Write a code to keep even numbers
# numbers = [1, 2, 3, 4, 5, 6, 7, 8]

numbers = [1, 2, 3, 4, 5, 6, 7, 8]

def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

# even_nums = list(filter(is_even, numbers))
even_nums = list(filter(lambda x: x % 2 == 0, numbers))

print(even_nums)

[2, 4, 6, 8]

In [172]:
# Write a code to keep vowels
# letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
# vowels = ['a', 'e', 'i', 'o', 'u']

letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
vowels = ['a', 'e', 'i', 'o', 'u']

def filter_vowels(letter):
    if letter in vowels:
        return True
    else:
        return False

# filtered_vowels = list(filter(filter_vowels, letters))
filtered_vowels = list(filter(lambda x: x in vowels, letters))

print(filtered_vowels)

['a', 'e', 'i', 'o']

### Scope of Variables

In [173]:
# Example of a local variable
def my_function():
    x = 5 # Local variable
    print(x)

x = 4 # Global variable
print(x)
my_function()
print(x)

4
5
4

In [174]:
# This function modifies global variable 's'
def f():
    global s # Global variable
    print(s)
    s = "It's awesome"
    print(s)

# Global Scope
s = "Python is great!" # Global variable
f()
print(s)

Python is great!
It's awesome
It's awesome

In [177]:
# Example
s1 = "abc" # Global variable

def f():
    s3 = "pqr" # Local variable
    print(s1)
    print(s2)
    print(s3)

# Global scope
s2 = "xyz" # Global variable
f()

abc
xyz
pqr

In [178]:
# What is the output?

a = 1 # Global variable

def f():
    print(a)

def g():
    a = 2 # Local variable
    print(a)

def h():
    global a
    a = 3 # Global variable
    print(a)

print(a)
f()
print(a)
g()
print(a)
h()
print(a)

1
1
1
2
1
3
3

### Call by Value

In [179]:
# Example 1 - number
def modify_value(x):
    x += 1
    return x

original_variable = 10
result = modify_value(original_variable)
print(original_variable)  # Output: 10 (original variable is not changed)
print(result)             # Output: 11 (the modified value is returned)

10
11

In [180]:
# Example 2 - string
def modify_string(input_string):
    input_string += " World!"

original_string = "Hello"
print("Original String:", original_string)

modify_string(original_string)

print("Modified String:", original_string)

Original String: Hello
Modified String: Hello

In [237]:
# Example 2 - tuple
def modify_tuple(input_tuple):
    input_tuple = (4, 5, 6) # Local variable

original_tuple = (1, 2, 3) # Global variable
print("Original tuple:", original_tuple)

modify_tuple(original_tuple)

print("Original tuple:", original_tuple)

Original tuple: (1, 2, 3)
Original tuple: (1, 2, 3)

### Call by Reference

In [181]:
# Example 1 - list
def modify_list(lst):
    lst.append(4)

original_list = [1, 2, 3]
modify_list(original_list)
print(original_list)  # Output: [1, 2, 3, 4] (the original list is modified)

[1, 2, 3, 4]

In [182]:
# Example 2 - dictionary
def modify_dict(input_dict):
    input_dict['key2'] = 'new_value'

original_dict = {'key1': 'value1', 'key2': 'value2'}
print("Original Dictionary:", original_dict)

modify_dict(original_dict)

print("Modified Dictionary:", original_dict)

Original Dictionary: {'key1': 'value1', 'key2': 'value2'}
Modified Dictionary: {'key1': 'value1', 'key2': 'new_value'}

In [187]:
# Example 3 - set
def modify_set(input_set):
    input_set.add(5)

original_set = {1, 2, 3, 4}
print("Original Set:", original_set)

modify_set(original_set)

print("Modified Set:", original_set)

Original Set: {1, 2, 3, 4}
Modified Set: {1, 2, 3, 4, 5}