## Tuples

In [4]:
tuple1 =("max", 28, "New York")
print(tuple1)

('max', 28, 'New York')

In [5]:
tuple2= "abc",1,3,"test"
print(tuple2)

('abc', 1, 3, 'test')

In [6]:
tuple2[2] = "test"

TypeError: 'tuple' object does not support item assignment

In [7]:
person=("shanthi", 40, "atlanta")
name, age, city = person
print(name)
print(age)

shanthi
40

In [10]:
mytup = (5)
print(mytup)
print(type(mytup))
print("persone type ois ", type(person))

5
<class 'int'>
persone type ois  <class 'tuple'>

In [9]:
mynum = mytup
print(mynum)

5

In [11]:
for i in tuple1:
    print(i)

max
28
New York

In [12]:
for i in range(len(tuple1)):
    print(i, tuple1[i])

0 max
1 28
2 New York

In [13]:
for index, val in enumerate(tuple1):
    print(index, val)

0 max
1 28
2 New York

In [ ]:
#does enumerate works on list and strings as well?

In [14]:
mystr ="testing asdlfasdlfjkdsf"
for index, val in enumerate(mystr):
    print(index, val)

0 t
1 e
2 s
3 t
4 i
5 n
6 g
7
8 a
9 s
10 d
11 l
12 f
13 a
14 s
15 d
16 l
17 f
18 j
19 k
20 d
21 s
22 f

In [15]:
mytup = (1,2,4,5,6,3,4,5)
print(len(mytup))

8

In [16]:
print("count", mytup.count(4))
print("index ", mytup.index(4))

count 2
index  2

In [17]:
tup4 = tuple([1,3,5,6])
print(type(tup4))
print(tup4)

<class 'tuple'>
(1, 3, 5, 6)

In [18]:
l =[2,4,5,6]
tup5 = tuple(l)
print(type(tup5))
print(tup5)

<class 'tuple'>
(2, 4, 5, 6)

In [19]:
t5 = ('a','b','c')
l1 = list(t5)
print(l1)

['a', 'b', 'c']

In [21]:
#compare memeory sizes
import sys

mylist =[0,1,2,3,4,5]
mytup = (0,1,2,3,4,5)

print(sys.getsizeof(mylist),"bytes")
print(sys.getsizeof(mytup),"bytes")

104 bytes
88 bytes

In [25]:
def divis(a,b) :
    q = a//b
    r = a%b
    return (q,r)

In [26]:
print(divis(10,3))

(3, 1)

In [27]:
quo, rem = divis(10,3)
print(quo)

3

# SETS

In [28]:
s1 = {1,2,3,4,5}
print(s1)
print(len(s1))

{1, 2, 3, 4, 5}

In [30]:
s2 = {1,2,3,4,5,1}
print(s2)
print(len(s2))

{1, 2, 3, 4, 5}
5

In [31]:
emptyset={}
print(emptyset)

{}

In [32]:
emptyset=set()
print(emptyset)

set()

In [42]:
l =[1,2,3,4,5,6,1,2]

s = set()
f = 0
for i in l :
    if  i in s :
        f = 1
        print("true")
        break
    else :
        s.add(i)

if (f == 0):
    print("false")

true

In [43]:
def checkForDuplicate(l):
    s = set()
    for i in l :
        if  i in s :
            return True
        else :
               s.add(i)
    return False

In [44]:
l =[1,2,3,4,5,6,1,2]
print(checkForDuplicate(l))

True

In [47]:
l1=[1,2,2,1]
l2=[2,2]

s1= set(l1)
s2= set(l2)
intersetion_set = s1.intersection(s2)

print(intersetion_set)

{2}

In [56]:
def intersect(l1,l2):
    return (set(l1).intersection(set(l2)))

In [57]:
l1=[1,2,2,1]
l2=[2,2]

print(intersect(l1,l2))

{2}

# Dictionaries

In [60]:
numbers = [1,2,3,2,1,1,4,5,6,5,5]

In [61]:
counts ={}
for num in numbers :
    if num in counts:
        counts[num] += 1
    else : 
        counts[num] = 1
print(counts)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 3, 6: 1}

In [66]:
def twosums(nums, target) :
    sumdict = {}
    for i in range(len(nums)) :
        c = target-nums[i]
        if c  in sumdict :
            return [i, sumdict[c]]
        else :
            sumdict[nums[i]] = i

In [67]:
nums =[3,2,4]
target = 6

print(twosums(nums, target))

[2, 1]

In [68]:
nums =[2,7,11,15]
target = 9

print(twosums(nums, target))

[1, 0]

In [69]:
def sqr(x):
    return x*x

In [70]:
def addition(x):
    return x+x

In [71]:
func_list = [sqr, addition]

In [ ]:
numbers = [1,2,3,4,5]

In [72]:
print(list(map(lambda x : x in numbers , func_list)))

[False, False]

In [74]:
numbers = [1,2,3,4,5,6,7,8]

In [76]:
even_list = list(filter(lambda x : x%2 == 0 , numbers))
print(even_list)

[2, 4, 6, 8]

In [78]:
letters = ['a', 'b','c','d','d','i','o','j']
vowels =['a','e', 'o','i','u']

In [80]:
owens_list = list(filter(lambda x : x in vowels , letters))
print(owens_list)

['a', 'i', 'o']

In [81]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub, 4))

6